@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0 auto;
    font-family: "Inter", sans-serif;
}
body {
    overflow: hidden;
    background-color: #000000;
}
.background-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.background-content header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fff;
    width: 100%;
    height: 6vh;
    padding: 8px;
}
.left-side, .middle-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.left-side:hover {
    cursor: pointer;
}
.left-side img {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: invert(100);
    animation: spin 25s linear infinite;
}
.lft-txt {
    display: flex;
    flex-direction: column;
}
.middle-side img {
    width: 35px;
    height: 35px;
    filter: invert(100);
}
.middle-side input {
    padding: 8px;
    border: none;
    background-color: #525252;
    border-radius: 24px;
}
.right-side {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    gap: 10px;
}
.right-side button {
    padding: 10px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 24px;
}
.right-side button:hover {
    background-color: #525252;
    color: #fff;
    cursor: pointer;
}

.index-style-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #fff;
    width: 100%;
    height: 90vh;
    gap: 12px;
}
.body-index-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bih-splash-txt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.bih-splash-txt img {
    width: 200px;
    height: 200px;
    filter: invert(100);
    animation: spin 40s linear infinite;
    transition: filter 0.3s linear;
}
.bih-splash-txt img:hover {
    filter: drop-shadow(3px 3px 6px #fff);
}
.bih-splash-txt h1{
    font-size: 128px;
    font-weight: bolder;
}
.body-index-header h3 {
    font-weight: lighter;
    font-size: 48px;
}

.city-name-entry {
    display: flex;
    flex-direction: row;
}
.city-name-entry input {
    border: none;
    border-radius: 24px;
    font-size: 24px;
    font-weight: bold;
    padding: 12px;
}
.city-name-entry img {
    width: 45px;
    height: 45px;
    filter: invert(100);
    margin-left: 8px;
}

.content-style-main {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    color: #000000;
}
.top-content-view {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 12px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
}
.big-degrees{
    display: flex;
    flex-direction: row;
    padding: 24px;
}
.bd-main {
    font-size: 128px;
}
.bd-rightpanel {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    padding: 24px;
}
.bd-rightpanel b img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.rp-title, .rp-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.rp-title img, .rp-info img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.rp-timeinfo {
    margin-top: 40px;
}
.clock-ico {
    animation: spin 10s linear infinite;
}
.gps-ico {
    animation: dopegps 8s linear infinite;
}


footer {
    background-color: black;
    color: #fff;
    width: 100%;
    min-height: 10vh;
}
#api-key-pop {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #000000c2;
    color: #fff;
    border: solid 1px white;
    border-radius: 28px;
    padding: 12px;
    width: 40%;
    height: 30vh;
    top: 30%;
    left: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: 8px;
}
.api-key-pop-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}
.api-key-pop-subconfig {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 12px;
    border-radius: 28px;
    gap: 12px;
}
.api-key-pop-subconfig img {
    width: 60px;
    height: 60px;
    filter: invert(100);
}
.akps-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.akps-flex input{
    padding: 8px;
    border: none;
    border-radius: 24px;
}
.global-error-pop button {
    padding: 10px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 24px;
}
.global-error-pop button:hover {
    background-color: #525252;
    color: #fff;
    cursor: pointer;
}

.hoverable-config:hover {
    background-color: #202020;
    cursor: pointer;
}

.global-error-pop {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #000000c2;
    color: #fff;
    border: solid 1px white;
    border-radius: 28px;
    padding: 12px;
    width: 40%;
    height: 24vh;
    top: 30%;
    left: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: 8px;   
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}
@keyframes dopegps {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(90deg); }
    100% { transform: rotate(0deg); }
}